<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Registrarse</h1>
                <div class="form-group">
                    <label for="text">Nombre Ususario</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre"
                        placeholder="Ingrese nombre de usuario" />
                </div>
                <div class="form-group">
                    <label for="text">Apellido</label>
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido"
                        placeholder="Ingrese su apellido" />
                </div>
                <div class="form-group">
                    <label for="text">Cedula</label>
                    <input type="text" class="form-control" name="cedula" [(ngModel)]="cliente.cedula"
                        placeholder="Ingrese su cedula" />
                </div>
                <div class="form-group">
                    <label for="text">Telefono</label>
                    <input type="text" class="form-control" name="telefono" [(ngModel)]="cliente.telefono"
                        placeholder="Ingrese su telefono" />
                </div>
                <div class="form-group">
                    <label for="text">Direccion</label>
                    <input type="text" class="form-control" name="direccion" [(ngModel)]="cliente.direccion"
                        placeholder="Ingrese su direccion" />
                </div>
                <div class="form-group">
                    <label for="email">Correo Electronico</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email"
                        placeholder="Ingrese su email" />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="cliente.password"
                        placeholder="Ingrese contraseña" />
                </div>
                <button type="button" (click)="onRegister()" class="btn btn-primary btn-lg btn-block">Confirmar</button>
                <div class="form-group mt-3">
                    <p>Ya tienes una cuenta?<a [routerLink]="['/login']"> Iniciar Sesion</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mx-auto mt-5">
        <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng" 
            *ngIf="located">
                <agm-info-window>
                    <p>Nombre: {{ cliente.nombre }}</p>
                    Apellido: {{ cliente.apellido}}
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <div class="clearfix">&nbsp;</div>
        <button (click)="obtenerPosicion()" type="button" class="btn btn-info">Obtener Direccion</button>
    </div>
</div>