<body  class="u-body">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" >
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-title u-text-1">SUPERMARKET</h1>
            <p class="u-large-text u-text u-text-variant u-text-2">Lo Mejor para su Bolsillo Precios más bajos......
                SIEMPRE</p>
            <a [routerLink]="['/login']" class="u-btn u-button-style u-palette-2-base u-btn-1">Haga su pedido</a>
        </div>
    </section>
    
    <section class="u-clearfix u-section-3" id="sec-688b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1"></div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h2 class="u-text u-text-1">Contáctanos&nbsp;</h2>
                                <p class="u-text u-text-2">Todo lo que necesites te lo llevamos directamente a la Puerta
                                    de tu casa.<br>Realiza tu pedido YA¡
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-418c">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Donde Comprar es un placer</p>
        </div>
    </footer>
</body>